.sidebar {
  border-right: 1px solid rgb(0 0 0 / 6%);
  height: 100%;
  min-width: 260px;
  position: relative;
  transition: width, left, right, 300ms;
  width: 260px;

  &--collapsed {
    min-width: 48px;
    width: 48px;
  }

  &__content {
    height: 100%;
    overflow: hidden auto;
    position: relative;
    z-index: 3;
  }
}
