.button {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  line-height: 1.75;
  margin: 0;
  min-width: 64px;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &--text {
    border: none;
    color: #1976d2;
    background-color: inherit;

    &:disabled {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  &--contained {
    border: none;
    color: #fff;
    background-color: #1976d2;

    &:disabled {
      color: rgba(0, 0, 0, 0.26);
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  &--outlined {
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: #1976d2;
    background-color: inherit;

    &:disabled {
      border-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.26);
    }
  }

  &--small {
    padding: 3px 9px;
    font-size: 0.8125rem;
  }

  &--medium {
    padding: 6px 16px;
    font-size: 0.875rem;
  }

  &--large {
    padding: 8px 22px;
    font-size: 0.9375rem;
  }

  &__icon {
    display: inherit;

    &--start {
      margin-right: 8px;
      margin-left: -4px;
    }

    &--end {
      margin-left: 8px;
      margin-right: -4px;
    }
  }
}
