.icon-button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-flex;
  margin: 0;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 200ms ease-in-out,
    color 200ms ease-in-out;
  vertical-align: middle;

  &:not(&:disabled) {
    cursor: pointer;

    &:hover {
      background-color: rgb(0 0 0 / 10%);
    }

    &:active {
      background-color: rgb(0 0 0 / 30%);
    }
  }

  &--size-small {
    font-size: 1.125rem;
    padding: 0.3125rem;
  }

  &--size-medium {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  &--size-large {
    font-size: 1.75rem;
    padding: 0.75rem;
  }
}
