.menu {
  &__sub-heading {
    color: rgb(0 0 0 / 60%);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0.75rem 0 0 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
