.sidebar-link {
  overflow-x: hidden;
  padding: 0 0.5rem;

  &__button {
    border-radius: 4px;
    height: 48px;
    margin: 0.25rem 0;

    &:not(&--active) {
      &:hover {
        background-color: rgb(0 0 0 / 10%);
      }

      &:active {
        background-color: rgb(0 0 0 / 30%);
      }
    }

    &--active {
      background-color: rgb(25 118 210 / 10%);

      &:hover {
        background-color: rgb(25 118 210 / 30%);
      }

      &:active {
        background-color: rgb(25 118 210 / 50%);
      }
    }
  }
}
