@use "sass:color";

.menu-link {
  position: relative;
  width: 100%;

  &__icon {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
    margin-right: 16px;
    min-width: 35px;
    width: 35px;
  }

  &__label {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    align-items: center;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    display: flex;
    margin: 8px;
    padding: 6px;
    text-decoration: none;
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out;

    &:hover {
      background-color: rgb(0 0 0 / 15%);
    }

    &:active {
      background-color: rgb(0 0 0 / 6%);
    }

    &--active {
      background-color: rgb(0 0 0 / 15%);
      font-weight: 600;
    }
  }
}
