@use "sass:color";

.menu-link {
  position: relative;
  width: 100%;

  &__button {
    align-items: center;
    border-radius: 4px;
    color: rgb(34 34 34);
    cursor: pointer;
    display: flex;
    margin: 0.5rem;
    padding: 0.375rem;
    text-decoration: none;
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out;

    &:not(&--active) {
      &:hover {
        background-color: rgb(0 0 0 / 10%);
      }

      &:active {
        background-color: rgb(0 0 0 / 30%);
      }
    }

    &--active {
      background-color: rgb(25 118 210 / 10%);

      &:hover {
        background-color: rgb(25 118 210 / 30%);
      }

      &:active {
        background-color: rgb(25 118 210 / 50%);
      }
    }
  }

  &__icon {
    align-items: center;
    color: rgb(0 0 0 / 50%);
    display: flex;
    height: 35px;
    justify-content: center;
    margin-right: 1rem;
    min-width: 35px;
    width: 35px;
  }

  &__text {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .menu-link__button--active .menu-link__icon {
    color: rgb(25 118 210);
  }
}
