.list-subheader {
  color: rgb(0 0 0 / 60%);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  overflow: hidden;
  padding: 0 1rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
